GAMMA_API_KEY_ID="api-key-id-uuid-here"
GAMMA_API_KEY_TOKEN="token"
GAMMA_CLIENT_ID="id"
GAMMA_CLIENT_SECRET="secret"
GAMMA_ROOT_URL=http://localhost:8081
PRIT_GAMMA_SUPER_GROUP_ID="32da51ec-2854-4bc2-b19a-30dad5dcc501"
SPRIT_GAMMA_SUPER_GROUP_ID="f06d3eb5-c718-4857-9fac-c457a3ab82a7"
INSTAGRAM_URL="https://www.instagram.com/p.r.i.t.26/"
BETTER_AUTH_URL="http://localhost:3000"
